.productCardContainer {
    margin-bottom: 20px;
}

.productDetails {
    height: 100%;
}

.priceTag {
    position: absolute;
    bottom: 0;
    left: 0;
}

.favoriteButton {
    position: absolute;
    top: 0;
    right: 0;
}